.view {
    // Reset style
    background: transparent;
    border: none;
    color: inherit;
    font: inherit;
    line-height: normal;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 0;
    text-align: inherit;
    width: auto;

    // F React Suite
    padding: 8px;
    
    &[data-status="success"] {
        background-color: green;
        color: white;
    }

    &[data-status="error"] {
        background-color: red;
        color: white;
    }
}
